<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd
">
	<!-- 配置 usersService -->
	<bean id="usersService" class="com.zk.vote.service.impl.UsersService">
		<property name="usersMapper" ref="usersMapper"></property>
	</bean>
	<!-- 配置 votesService -->
	<bean id="votesService" class="com.zk.vote.service.impl.VotesService">
		<property name="votesMapper" ref="votesMapper"></property>
		<property name="voteItemsMapper" ref="voteItemsMapper"></property>
	</bean>
	<!-- 配置 voteItemsService -->
	<bean id="voteItemsService" class="com.zk.vote.service.impl.VoteItemsService">
		<property name="voteItemsMapper" ref="voteItemsMapper"></property>
	</bean>
		<!-- 配置userVoteItemService -->
	<bean id="userVoteItemService" class="com.zk.vote.service.impl.UserVoteItemService">
		<property name="userVoteItemMapper" ref="userVoteItemMapper"></property>
	</bean>
</beans>
