<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd
">
	<!-- 在与spring整合时,mybatis提供自动扫描的类,可以扫描mapper成为实例; 
		要求mapper接口和其xml同名且在同包下; 
		扫描出来的mapper的bean的id为该mapper接口的首字母小写;
		该配置写到了spring-mybatis.xml
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		配置需要扫描的包
		<property name="basePackage" value="com.zk.vote.mapper"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean> -->
</beans>
