<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd
">
	<!-- 配置action -->

	<!-- 配置BaseAction -->
	<bean id="baseAction" class="com.zk.vote.action.BaseAction">
	</bean>
	<!-- 配置UsersAction -->
	<bean id="usersAction" class="com.zk.vote.action.UsersAction">
		<property name="pageBean" ref="pageUsers"></property>
		<property name="usersService" ref="usersService"></property>
	</bean>
	<!-- 配置VotesAction -->
	<bean id="votesAction" class="com.zk.vote.action.VotesAction">
		<property name="pageBean" ref="pageVotes"></property>
		<property name="votesService" ref="votesService"></property>
	</bean>
</beans>
