<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd
">
	<!-- pageUsers -->
	<bean id="pageUsers" class="com.zk.vote.pagebean.PageUsers">
	</bean>
	<!-- pageVotes -->
	<bean id="pageVotes" class="com.zk.vote.pagebean.PageVotes">
	</bean>
	<!-- pageVoteItems -->
	<bean id="pageVoteItems" class="com.zk.vote.pagebean.PageVoteItems">
	</bean>
	<!-- pageUserVoteItem -->
	<bean id="pageUserVoteItem" class="com.zk.vote.pagebean.PageUserVoteItem">
	</bean>
</beans>
