.content{
	margin-left:25%;
	width:50%;
	text-align: left;
}
.top{
	
}
.middle{
	margin: 35px 0px;
	background: rgb(122,164,207);
	position: relative;
	top:0px;
}

.bottom{
	text-align: center;
	width: 100%;
	padding-top: 20px;
}