<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.zk.vote.mapper.VoteItemsMapper">

	<insert id="insertVoteItem" parameterType="VoteItems">
		insert into voteitems values(#{id},#{master.id},#{description});
	</insert>
</mapper>